.pixel {
	height: 1px;
	width: 1px;
	position: absolute;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: black;
	border: 2px solid yellow;
}
.conteinar {
  margin: 0 auto;
  /* padding-top: 64px;
  max-width: 640px;
  width: 94%; */
}
footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
h1{
  color: white;
  text-align: center;
}
h2{
  color: red;
	margin-top: -180px;
  /* text-align: center; */
}
.line, .circle, .curve{
	/* border: 2px solid white; */
	/* height: 300px; */
	/* display: inline-block; */
	/* width: 30%; */
	margin: 15px;

}
.board{
	border: 2px solid blue;
	height: 420px;
	margin-left: 220px;
  margin-right: 25px;
}
input#numOfLines {
    width: 50px;

}
label{
	color: #ff6666;
}
button{
	/* margin-left: 40%; */
}
