.pixel {
	height: 1px;
	width: 1px;
	position: absolute;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: black;
}
.conteinar {
  margin: 0 auto;
  /* padding-top: 64px;
  max-width: 640px;
  width: 94%; */
}
footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
h1{
  color: white;
  text-align: center;
}
.line, .circle{
	border: 2px solid white;
	height: 300px;
	display: inline-block;
	width: 30%;
	margin: 15px;
}
button{
	margin-left: 40%;
}
